.search-bar{
	height: 3.5rem;
	background-color: white !important;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-style: none;
	width: 85%;
}

.search-button{
	width: 15%;
	height: 3rem;
}

.sidebar-alert-box{
	background: #e8efff;
	min-height: 15rem;
	border-radius: 15px;
}

.checkbox {
  padding-left: 10px;
}

.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
  padding-top: -15px;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  top: 2px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 2px;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: "✓";
}

.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.radio {
  padding-left: 20px;
}

.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}

.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}

.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}

.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}

.MuiSlider-valueLabel {
    left: calc(-50% - 8px) !important;
}

.PrivateValueLabel-offset-3 {
    top: -37px !important;
}

.PrivateValueLabel-circle-4 {
    width: 40px !important;
    height: 40px !important;
}

.sort-select{
	height: 2rem !important;
  	border-radius: 10px !important;
  	background-color: transparent !important;
  	color: blue !important;
  	border-style: none;
  	font-weight: bold;
  	font-size: 1.2rem;
}

.filter-label{
	font-weight: 400;
}

.jobs-header{
	font-weight: 600 !important;
}

.job-card{
	position: relative;
	min-height: 28rem;
	background: white;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 15px;
}

.job-detailed-card{
  position: relative;
  height: 78vh;
  background: white;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
}

.job-detailed-content{
  height: 50vh;
  overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.job-detailed-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.job-detailed-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.job-detailed-header{
  font-size: 1.7rem;
  font-weight: bold;
}

.job-detailed-recruiter{
  font-weight: bold;
}

.job-image img{
	height: 96px;
	width: 96px;
}

.recruiter-name{
	font-size: 14px;
}

.job-header{
	font-size: 20px;
}

.ellipsis{
	position: absolute;
	right: 10px;
	top: 15px;
}

.ellipsis:hover{
	cursor: pointer;
}

.tag{
	position: relative;
	background: #e8efff;
	border-radius: 10px;
	color: blue;
	display: inline-block;
}

.light-button{
	background: #e7e7e7;
}

.light-button:hover{
	background: #dfdfdf;
}

.sort-icon:hover{
	color: blue;
	cursor: pointer;
}

.swal2-popup {
  width: 48em !important;
}

.swal2-textarea {
  height: 20.75em !important;
  color: black !important;
}

.job-list-scroll{
  height: 80vh;
  overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.job-list-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.job-list-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.timeline{
  position: relative;
  height: 20rem;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.timeline-cover{
  height: 17rem;
  background: grey;
  overflow: hidden;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.timeline-cover img{
  object-fit: cover;
}

.timeline-profile-picture img{
  position: absolute;
  height: 192px;
  width: 192px;
  left: 2rem;
  top: 9rem;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  border-radius: 50%;
}

.dropdown-menu{
  left: auto !important;
  right: 0 !important;
}

ul {
   line-height: 1em;
   margin: 25px 0 15px;
   padding: 0;
}
 ul li {
   list-style: none;
   position: relative;
   padding: 0 0 10px 20px;
}

ul.arrow li::before {
   content: "";
   position: absolute;
   left: 0;
   top: 6px;
   height: 5px;
   width: 5px;
   border: 1px solid red;
   border-width: 2px 2px 0 0;
   transform: rotate(45deg);
}
 


@media only screen and (max-width: 769px) {
	.search-bar{
		width: 100%;
	}
}


